*{
    padding: 0;
    margin: 0;
}
#game{
    width: 1000px;
    height: 400px;
    border: 3px solid black;
}
#character{
    width: 35px;
    height: 90px;
    background-color: red;
    position: relative;
    top: 310px;
}